@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap");

body {
	margin: 0;
	font-family: "Montserrat", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-image: url("./assets/background.jpg");
	background-color: #110a06;
	/* background-position: center; */
	background-repeat: no-repeat;
	background-size: cover;
	color: #ffff;
}

/* NavBar */
.nav-container {
	padding: 0 70px;
}
.navbar-brand {
	font-weight: bold;
	font-size: 25px;
}

.nav-link {
	font-weight: 200;
	font-size: 20px;
}

.navbar-brand,
.nav-link {
	color: #ffff;
	/* font-size: 30px; */
	margin: 30px 15px;
}

.navbar-brand:hover,
.nav-link:hover,
.navbar-brand:visited,
.nav-link:visited {
	color: #ffff !important;
}

/* Hero Content */
#header{
  margin: 200px 0 0 77px;
  width: 40%;
}

.hero-heading {
	font-weight: bold;
	font-size: 80px;
}

.tagline{
  font-size: 25px;
  margin-bottom: 20px;
}

.tag-inventory{
  width: 55%;
  line-height: 1.75;
}

.home-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 50px;
}

/* .home-buttons > button {
  font-weight: bold;
} */

.btn-custom {
  font-weight: bold;
  background-color: #DDA15E;
  color: #ffff;
}

.btn-custom:hover {
  background-color: #BC6C25
  ;
}

/* About Section */

#about {
  text-align: center;
  margin: 100px auto;
}

#about > h1 {
  font-size: 100px;
}

#about > p {
  font-size: 18px;
}

/* Active class when a link is clicked */
.active {
  background-color: #DDA15E;
  color: #ffff !important;
  border-radius: 3px;
  padding: 2px 16px;
  margin-top: 35px;
}